[tool.poetry]
name = "FindMy"
version = "0.2.1"
description = "Everything you need to query Apple's Find My network!"
authors = ["Mike Almeloo <git@mikealmel.ooo>"]
readme = "README.md"
packages = [{ include = "findmy" }]

[tool.poetry.dependencies]
python = "^3.10"
srp = "^1.0.20"
cryptography = "^41.0.7"
beautifulsoup4 = "^4.12.2"
aiohttp = "^3.9.1"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.6.0"
sphinx = "^7.2.6"
sphinx-autoapi = "^3.0.0"

[tool.ruff]
exclude = [
    "examples/",
    "docs/",
]

select = [
    "ALL",
]
ignore = [
    "ANN101", # annotations on `self`
    "ANN102", # annotations on `cls`
    "FIX002", # resolving TODOs

    "D203",   # one blank line before class docstring
    "D212",   # multi-line docstring start at first line
]

line-length = 100

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
