name: Deploy documentation

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]\.[0-9]+\.[0-9]+'

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: "./.github/actions/setup-project"

      - name: Install graphviz
        run: |
          sudo tee /etc/dpkg/dpkg.cfg.d/01_nodoc > /dev/null << 'EOF'
          path-exclude /usr/share/doc/*
          path-exclude /usr/share/man/*
          path-exclude /usr/share/info/*
          EOF
          
          sudo apt-get install -y graphviz

      - name: Build documentation
        run: |
          cd docs
          uv run make html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "docs/_build/html/"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
